<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/searchStatement.css">
    <title>Data Search Page</title>
</head>
<body>
    <div class="container">
        <form action="{% url "pre_report_view" %}" method="get" class="search-form">
            {% csrf_token %}
            <h1>Data Search Form</h1>

            <label for="nidCardNumber">NID Card Number:</label>
            <input type="text" id="nidCardNumber" name="nidCardNumber">

            <label for="studentName">Student Name:</label>
            <input type="text" id="studentName" name="studentName">

            <label for="level">Level:</label>
            <input type="text" id="level" name="level">

            <label for="course">Course/Diploma:</label>
            <input type="text" id="course" name="course">

            <button type="submit" class="button-link">Search</button>
        </form>
    </div>
</body>
</html>
