

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/manageDatabase.css">
        <title>Taiba Learning</title>
    </head>
<body>
    <div class="buttons">
        <a href="/" class="button-link">Go Home</a>
        <button type="button" class="btn btn-primary button-link" onclick="printPage()">Print</button>
    </div>
    
<script src="/static/javascript/printStatement.js"></script>
    
</body>
</html>